---
import CustomerForm from '../components/CustomerForm.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Contact us through our simple and elegant contact form." />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
		<title>Bank Customer Churn Prediction</title>
	</head>
	<body>
		<main>
			<h1>Bank Customer Churn Prediction</h1>
			<p>Get to know if a customer will churn based on basic bank information</p>
			<CustomerForm />
		</main>
	</body>
</html>
